body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.selected{
  color: green;
}

.cardatt{
  height: 230px;
}

@media only screen and (min-width: 100px) and (max-width: 574px) {
  .herocardresponsive {
    min-width: 100%;
    padding-left: 23px;
    flex-direction: column-reverse;

  }
}